{
  "name": "<%= app_package_name %>",
  "private": true,
  "type": "module",
  "scripts": {
    "dev": "vite",
    "build": "vite build"<% if shadcn? %>,
    "build:css": "@tailwindcss/cli -i app/javascript/styles/globals.css -o app/assets/builds/tailwind.css --minify"<% end %>
  },
  "dependencies": {
    "react": "^19.0.0",
    "react-dom": "^19.0.0"
  },
  "devDependencies": {
    "@vitejs/plugin-react": "^4.3.4",
<% if shadcn? -%>
    "@tailwindcss/cli": "^4.0.0",
    "tailwindcss": "^4.0.0",
    "tw-animate-css": "^1.0.0",
<% end -%>
    "vite": "^6.0.7"
  }
}
